div {
    background-color: red;
    width: 150px;
    margin: auto;
    text-align: center;
}

div {
    border-width: 3px;
    border-color: blue;
    border-style: solid;
    border-radius: 5px;
}
/* En vez de poner border width/style/color, podemos poner border: 5px solid blue*/
/* Border-radius redondea el borde para que no sea tan recto*/
div {
    border: 3px blue solid
    /* Aquí seleccionamos todos los bordes y se modifican*/
}

div. {
    border-bottom: 10px solid yellow;
    border-top: 10px solid green;

    /* Tambien podemos seleccionar solo un borde, como el de arriba o derecha*/
}

div. {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
    /* Tambien podemos modificar solo un borde que elijamos y redondearlo*/
    border-radius: 10px 20px 30px 10px;
    /* O podemos hacerlo siguiendo las agujas del reloj, empezando por arriba*/
}