.formulario {
    background-color: red;
    padding: 5px 30px;
    /* Tambien podemos escribirlo así padding: 40px 10px 20px 30px; siempre va en el sentido de las agujas del reloj empezando por top*/

}
.formulario_input {
    padding: 10px;
    width: 70%;
    margin: 10px;
    color: greenyellow;
    background-color: blueviolet;
    
}
.formulario_boton {
    background-color: aqua;
    color: red;
    text-transform: uppercase;
    
}
